.container{
 
  margin-top: 122px!important;
  
 
}

img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   
  
}


.text{

  margin: auto!important;
  margin-top: 31px;
  width: 300px!important;
  height: 40px;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border: solid!important;
  
}

.button{
  
  margin-top: 25px;
  width: 150px;
  height: 30px;
  background: linear-gradient(#f5f5f5,#f1f1f1);
border: 1px solid #f2f2f2;
  color: black;
    }



.text{
  border: solid;
}

ul li{
  display: block;
  float: left;
  margin: 10px;
}

li{
  display: inline;
  
}

.right{
  float: right;
}
